.home-page-four {
	.brand-carousel-wrapper .brand-carousel i {color: #484848;}
	.brand-carousel-wrapper .brand-carousel i:hover {color: #F5F5F5;}
	.contact-style-one .contact-content h3 {color: #3396EC;}
	.contact-style-one .contact-info p span,
	.contact-style-one .contact-info p {color: #E6E8E9;}
	.contact-style-one p {color: #808891;}
	.blog-style-one .blog-title h3 {color: #FFFFFF;}
	.blog-style-one .single-blog-style-one h3 {color: #FFFFFF;}
	.blog-style-one .single-blog-style-one span.date {color: #FFFFFF;}
	.blog-style-one .single-blog-style-one p{color: #E6E8E9;}
}