.inner-page-title {
	background:#000000;
	text-align: center;
	padding: 50px 0;
	h3 {margin: 0;color: #fff;font-size: 30px;font-weight: normal;}
	ul.breadcumb {
		margin: 0;padding: 0;list-style: none;margin-top: 15px;
		li {
			display: inline-block;vertical-align: middle;
			a, span {display: block;color: #FFFFFF;font-size: 20px;line-height: 1em;}
			span {color: #79CE1C;}
			span.sep {margin-left: 10px;margin-right: 10px;}
		}
	}
}