.price-box-style-one {
	.tab-title {text-align: center;
		margin: 0;padding: 0;list-style: none;margin-bottom: 45px;
		li {display: inline-block;vertical-align: middle;
			&:first-child a {border-top-left-radius: 7px;border-bottom-left-radius: 7px;}
			&:last-child a {border-top-right-radius: 7px;border-bottom-right-radius: 7px;}
			a {display: block;color: #2C3035;font-size: 16px;background:#E9F2FE;padding: 12.5px 32px;}
			&.active {
				a {background:#5AAAEF;color: #fff;}
			}
		}
	}
	.single-price-style-one {
		text-align: center;
		border: 1px solid #EEEEEE;
		border-radius: 10px;
		padding: 0 20px;
		padding-top: 35px;
		&.popular {
			padding-top: 31px;
			border: 3px solid #3196EE;
			box-shadow: drop-shadow-converter(#222222, $angle: 90, $distance: 0px, $spread: 0, $size: 15px, $opacity: 36%);
		}
		h3 {margin: 0;color: #2C3035;font-size: 22px;margin-bottom: 40px;}
		.price-box {border-bottom: 1px solid #EEEEEE;padding-bottom: 23px;}
		span.price {display: block;color: #3396EC;font-size: 48px;line-height: 1em;margin-bottom: 20px;}
		span.time {color: #808891;font-size: 16px;}
		.features {
			padding-top: 33px;
			p {font-size: 18px;color: #2C3035;margin: 0;
				+ p {margin-top: 10px;}
			}
		}
		a.price-btn {width: 154px;height: 47px;line-height: 47px;text-align: center;background:#3396EC;font-size: 16px;border-radius: 7px;display: inline-block;vertical-align: middle;margin-left: auto;margin-right: auto;color: #fff;margin-top: 35px;margin-bottom: 45px;}
	}
	&.dark-bg {
		.price.tab-title li a {background:#E9F2FE;color: #2C3035;}
		.tab-title li.active a {background:#2878BC;}
		.single-price-style-one {border-color: #3F3E3E;}
		.single-price-style-one h3 {color: #FFFFFF;}
		.single-price-style-one span.time {color: #E6E8E9;}
		.single-price-style-one .price-box {border-bottom-color: #474545}
		.single-price-style-one .features p {color: #FFFFFF;}
		.single-price-style-one.popular {border-color: #3396EC;}
	}
}